.container {
  width: 40em;
  margin: 5em auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  padding: 2em;
  width: 100%;
  border: 1px solid lightgray;
  background-color: lightgrey;
}

input[type='text'] {
  width: 25em;
}

.card li,
.card {
  background-color: whitesmoke;
}